body {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  .product-select label{
    margin-right: 50px;
  }
  
  .product-select select{
    width: 368px;
    border: 2px solid #ddd;
  }
  .prix_total{
    margin-top: 0;
    margin: -20px;
    padding: 15px;
    font-family: 'SansaBd','Arial';
    background-color: #0e2f64;
    color: white;
    text-align: center;
    font-size: 25px;
  }
  .container{
    margin-top: 50px;
  }
  h2{
    font-size: calc(22px + (28 - 22) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    line-height: 1;
    text-transform: capitalize;
    margin: 0;
  }
  .theme-color {
    color: #007ec3;
    margin-top: 15px;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: calc(18px + (28 - 22) * ((100vw - 320px) / (1920 - 320)));
  }
  .product-section-box .custom-nav .nav-item .nav-link {
    color: #222;
    padding: calc(12px + (15 - 12) * ((100vw - 320px) / (1920 - 320))) calc(17px + (30 - 17) * ((100vw - 320px) / (1920 - 320)));
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
    letter-spacing: 0.6px;
    border: none;
    font-weight: 600;
    background-color: #f8f8f8;
    position: relative;
  }
  .product-section .right-sidebar-box {
    position: sticky;
    top: 10px;
  }
  .vendor-box {
    padding: calc(12px + (33 - 12) * ((100vw - 320px) / (1920 - 320)));
    background-color: #f8f8f8;
  }
  p {
    font-size: 14px;
    line-height: 18px;
  }
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .vendor-box .vendor-detail {
    margin: calc(13px + (28 - 13) * ((100vw - 320px) / (1920 - 320))) 0 0;
    line-height: 1.7;
    color: #4a5568;
    padding-bottom: calc(10px + (18 - 10) * ((100vw - 320px) / (1920 - 320)));
    border-bottom: 1px solid #ececec;
  }
  .vendor-box .vendor-list ul li .address-contact h5 {
    font-weight: 600;
  }
  .vendor-list li{
    margin-top: 20px;
  }
  h5 {
    font-size: calc(15px + (16 - 15) * ((100vw - 320px) / (1920 - 320)));
    line-height: 1.2;
    margin: 0;
    font-weight: 400;
  }
  .vendor-box .vendor-list ul li .address-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 8px;
  }
  .vendor-box .vendor-list ul li .address-contact .feather {
    width: 20px;
    height: 20px;
    color: #007ec3;
  }
  .vendor-box .vendor-list ul li .address-contact h5 span {
    font-weight: 400;
    margin-left: 7px;
  }
  .text-content {
    color: #4a5568;
  }
  span {
    display: inline-block;
  }
  .right-box-contain{
    margin-left: -40px;
  }
  .product-select select{
    width: 368px;
    background-color: #f9f9f9;
    color: #333333;
    border: 2px solid #ddd;
    font-size: 14px;
    font-family: 'Open Sans',Arial;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .product-select label{
    margin-bottom: 10px;
    color: black;
    font-family: 'Open Sans',Arial;
    font-size: 16px;
  }
  .product-left-box{
    position: sticky;
    top: 10px;
  }